

.tab-pane .tab-header-background {
	-fx-background-color: #DBEAFE;
}
.tab-pane.plain .tab-header-background {
	-fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab {
	-fx-border-radius: 4 4 0 0;
	-fx-background-radius: 5 5 0 0;
	-fx-background-color: #DBEAFE;
	-fx-border-color: #DBEAFE;
	-fx-background-insets: 0;
}

.tab-pane .tab-header-area .tab:selected {
	-fx-focus-color: transparent;
	-fx-border-color:#EFF6FF ;
	-fx-background-color: #EFF6FF;
}



.text-area .content{
	-fx-background-color: #DBEAFE;
}

.filler,.column-header,.show-hide-columns-button {
	-fx-background-color: #DBEAFE, #DBEAFE, #DBEAFE;
}

.show-hide-columns-button {
	-fx-border-width: 0;
	-fx-background-insets: 0 0 1 1;
}

.scroll-bar .decrement-button, .scroll-bar .decrement-arrow {
	visibility: hidden;
	-fx-pref-height: 1;
	-fx-pref-width: 1;
}

.scroll-bar .increment-button, .scroll-bar .increment-arrow {
	visibility: hidden;
	-fx-pref-height: 1;
	-fx-pref-width: 1;
}

.scroll-bar:vertical {
	-fx-pref-width: 10;
	-fx-background-color:#EFF6FF;
}

.scroll-bar:horizontal {
	-fx-pref-height: 10;
	-fx-background-color:#EFF6FF;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 5;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: #BFDBFE;
	-fx-background-insets: 2 0 2 0;
	-fx-background-radius: 5;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #BFDBFE;
	-fx-background-insets: 0 2 0 2;
	-fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #b5b5b5;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
	-fx-background-color: #a0a0a0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 5;
	-fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 5;
	-fx-padding: 5;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
	-fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

.table-view {
	-fx-background-color:#DBEAFE;
}
.table-row-cell{
	-fx-table-cell-border-color: transparent;
}

.table-column {
  -fx-alignment: CENTER;
}

.radio-button {
	-fx-label-padding: 0.0em 0.0em 0.1em 0.416667em;
	-fx-text-fill: -fx-text-background-color;
	-fx-padding: 0 0 .5 0;
}

.radio-button > .radio,
.radio-button:focused > .radio  {
	-fx-border-color: #93C5FD;
	-fx-border-radius: 1em;
	-fx-background-radius: 1.0em; 
	
	-fx-background-color: #EFF6FF;
}
.radio-button > .radio > .dot {
	-fx-background-color: transparent;
	-fx-background-size: 10px;
	-fx-background-insets: 3 2 1 2;
	
	 -fx-background-radius: 15px;
    -fx-padding: 5px;
}
.radio-button:selected > .radio,.radio-button:hover > .radio {
	-fx-fill-color: #93C5FD;
}
.radio-button:pressed > .radio {
	-fx-background-color: #93C5FD;
}
.radio-button:selected > .radio > .dot {
	-fx-background-color: #93C5FD;
}
